.grid{
    display: grid;
    grid-template-columns: 1fr; /*repida em colas de 200px 5 vezes*/
    column-gap: 10px; 
    row-gap: 10px; 
    grid-template-rows: repeat(5,200px); /*minmax Tem dois paramentro o Primeiro O minimo de tamanho da linha  e o max no caso deixamo livre usando auto*/
    @media (min-width: 768px){
        grid-template-columns: repeat(5,1fr);  
     }
}
.grid > div{
    background-color: #22b5ef;
    padding: 20px;
}
.grid > div:nth-child(1){ 
    @media(min-width: 768px){
        grid-column: 1/-1;
    } 
}
.grid > div:nth-child(3){ 
    @media(min-width: 768px){
        grid-column: 2/5;
    }
}
.grid > div:nth-child(even){ /*nth-child(even) da cor em ordem par ou seja cria listas*/
    background-color: #bdefad;
}